.cards{
    display: inline-block;
    padding: 20px; 
}

.cardContainer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: rgb(24, 195, 218);
    width: auto;
    height: auto;
    padding: 20px;
    color: rgb(133, 10, 216);
}

#name{
    font-size: 20px;
}

